/* Globals */

html {
  font-family: 'CircularStd', 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji','Segoe UI Emoji';
  font-size: 14px;
  line-height: 1.5;
  color: #24292e;
}

body {
  box-sizing: border-box;
  margin: 0;
  background-color: #f5f5f5;
}

body.loading {
  background-color: #f5f5f5;
  display: none;
}

.stepHeader, .stepLabel, .stepBox, .stepButton {
  display: none;
}

body.step-monitor .step0,
 body.step1 .step1,
 body.step2 .step2,
 body.step3 .step3,
 body.step4 .step4,
 body.step5 .step5
{
  display: flex;
  flex-flow: column;
  text-align: left;
}

#container-fluid {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  display: flex;
}

.pageHeader {
  line-height: 40px;
  text-align: center;
}

p.break-text span{
  display: table;
}

.break-text {
  text-align: center;
}

.left-margin {
  margin-left: 10%;
}


/* Colors */

.error-red {
  color: #EE4266;
  mix-blend-mode: normal;
  opacity: 0.8;
}

.clam-grey {
  background: #2C405A;
  mix-blend-mode: normal;
  opacity: 0.4;
  transform: matrix(1, 0, 0, -1, 0, 0);
}

.holo-green {
  color: #00838D
}

.text-white {
  color: #FFFFFF !important;
}

.text-black {
  color: #000000 !important;
}


/* Topography */

h1 {
  font-size: 30px;
  line-height: 35px;
}

h2 {
/*  */
}


ul {
  margin: 0;
}

ul li {
  list-style-type: none;
  min-height: 2.2em;
}

form {
  display: flex;
  justify-content: center;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -ms-flex-pack: center;
  margin: 10px 5px;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
}

 #form-error {
  font-size: 14px;
  line-height: 19px;
  opacity: 0.8;
 }

label {
  border: none;
  padding-left: 0;
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  line-height: 13px;
  display: flex;
  align-items: flex-end;
  letter-spacing: 0.9px;
  text-transform: uppercase;
  color: #2C405A;
  mix-blend-mode: normal;
  opacity: 0.6;
}

.input-font {
  color: #2C405A;
  font-size: 16px;
  line-height: 22px;
  font-weight: bold;
  display: flex;
  align-items: center;
  letter-spacing: -0.4px;
}

.button-font {
  font-size: 16px;
  line-height: 19px;
  text-align: center;
}

.bold {
  font-weight: bolder
}

.italic {
  font-style: italic;
}

.underline {
  text-decoration: underline;
}

:focus {
  outline-color: transparent;
  outline-style: none;
}

.paragraph-text {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.5;
  max-width: 800px;
  margin: 0 auto;
}

.button-text {
  vertical-align: text-bottom;
  cursor: pointer;
}

.note-text {
  margin: 20px;
  font-size: 14px;
  line-height: 19px;
  color: rgba(44, 64, 90, 0.6);
}

.subheader-text {
  font-size: calc(0.21rem + 0.9vw);
  line-height: calc(0.8rem + 1.2vw);
  letter-spacing: -0.4px;
  color: #2C405A;
  max-width: 58%;
}

.subheader-text-bookend {
  font-size: calc(0.61rem + 0.9vw);
  line-height: calc(0.3rem + 1.3vw);
  letter-spacing: 0.6px;
}

.block-subtext {
  margin-top: 2vh;
}

.enter-text {
  text-align: center;
}

.timer-text{
  font-size: 100px;
}

#timer-sub-text{
  text-align: center;
}


/* Image & Icon Elements */
#holo-banner-wrapper {
  width: calc(11.11rem + 5vw);
  margin-top: 5vh;
  margin-left: -2rem;
}

#holo-brand-wrapper {
  position: fixed;
  top: 38vh;
  left: 33.5275vw;
  border-radius: 100px;
  z-index: 99;
}

#greeting-container-bookend {
  background: #FFFFFF;
}

#content-container-bookend {
  background: #00838D;
}

#holoport-flying-bookend {
  background-repeat: no-repeat;
  position: fixed;
  bottom: -12rem;
  right: -15rem;
  width: 40%;
  height: auto;
}

#greeting-container {
  background: #00838D;
}

#content-container {
  background: #FFFFFF;
}

#holoport-flying {
  background-repeat: no-repeat;
  position: fixed;
  bottom: -4rem;
  left: 4rem;
  width: 50vw;
  height: calc(50vw * 0.55);
}

.image-block-icon {
  height: 50px !important;
  width: 55px !important;
  margin: 0px 30px;
}

.card-image {
  padding: 30px;
  background: #FFFFFF;
  box-shadow: 0px 2.5px 10px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.step2 #holo-icon {
  margin-right: none;
}

#file-icon {
  align-self: center;
  width: 40px !important;
}

#arrow-icon {
  align-self: center;
  height: 16px !important;
}

#connected-icon {
  height: 3rem;
  width: 2.2rem;
  /* margin-left: 0.5%; */
}

#laptop-icon {
  height: 2.4rem;
  width: 2.5rem;
  margin-top: 2%;
}

#locked-icon {
  height: 3rem;
  width: 2.2rem;
}

.main-display-image {
  height: 10vw;
  width: 20vw;
}

.inline-icon-wrapper {
  display: inline-flex;
}

.inline-icon {
  cursor: pointer;
  height: 23px !important;
  width: 23px !important;
}


/* Page Content Containers & Wrappers */

#greeting-container-bookend {
  width: 35vw;
  /* z-index must be higher than flying-hp icon */
  z-index: 3;
}
#greeting-container {
  width: 35vw;
}

#content-container-bookend {
  flex: 1;
  width: 65vw;
}
#content-container {
  flex: 1;
  width: 65vw;
  /* z-index must be higher than flying-hp icon */
  z-index: 3;
}

.content-wrapper {
  display: block;
  margin: 0 auto;
  margin-left: 7%;
  position: relative;
  justify-content: center;
  overflow: hidden;
  height: 100vh;
}
.content-wrapper.bookend {
  margin-left: 0;
  margin: 0 auto;
  width: 80%;
}

/* Headings, Titles & Labels */

.greeting-wrapper {
  margin-left: 2%;
  max-width: 90%;
  height: 100vh;
  align-self: center;
}

.greeting-wrapper .step1,
.greeting-wrapper .step2,
.greeting-wrapper .step3 {
  color: #FFFFFF
}

.greeting-step0 {
  line-height: 1.2em;
  margin: 30vh 0 10vh;
  font-weight: bold;
  font-size: calc(2.7rem + 1vw);
  max-width: 30vw;
}

.greeting {
  line-height: 1.2em;
  margin: 21vh 0 10vh;
  font-weight: bold;
  font-size: calc(2.7rem + 1vw);
  max-width: 30vw;
}

.header {
  margin: 0 auto;
  margin-top: 5rem;
  margin-bottom: .5rem;
  font-weight: 300;
  font-size: 2rem;
  line-height: 1.2;
  color: #3aa794;
}

.step5-header
.step0-header {
  margin: 0 auto;
  font-weight: 300;
  font-size: 2rem;
  line-height: 1.2;
  margin-top: 1rem;
}

.step-label-info {
  color: #2C405A;
  display: block;
  margin-bottom: 2rem;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 35px;
  max-width: 63%;
}

.step-label-info-bookend {
  display: block;
  margin-bottom: 3rem;
  font-style: normal;
  font-weight: bold;
  font-size: 3vh;
  line-height: 4rem;
}


/* List & Image Block Components */

.list-group,
.image-block {
  display: inline-block;
  margin: 5px;
  padding: 0;
  max-width: 90%;
}

.list-group-item,
.image-block-item {
  display: flex;
  justify-content: left;
  list-style-type: none;
  font-size: 1.2rem !important;
  font-weight: 400 !important;
  line-height: 2.5 !important;
  color: #FFFFFF;
  margin-bottom: 5%; 
}

.list-icons,
.image-block-icon {
  flex-grow: 0;
  flex-shrink: 0;
  display: inline-block !important;
  margin: 5px 30px 0px 0px;
  width: 18px;
  height: 32px;
}
.list-icons {
  width: 36px;
  height: 35px;
}

.list-content {
  margin: 0px
}

.image-block {
  min-width: 238px;
  margin-left: 8rem;
}

ul.timer-list {
  padding: 0;
}

li.timer-list-item {
  display: inline-block;
  font-size: 1.5em;
  list-style-type: none;
  padding: 1em;
  text-transform: uppercase;
}

.timer-text {
  display: block;
  font-size: calc(4.21rem + 2.9vw);
}

/* Form Fields & Inputs */

.step1 label {
  min-width: 175px;
  display: flex;
}

.step1 input {
  display: flex;
  border: none;
  mix-blend-mode: normal;
  min-width: 32vw;
}

.form-item {
  margin: 6vh 20px 15px;
  border-bottom: 1px solid #2C405A;
}

.form-item.error-red {
  border-bottom: 1px solid #EE4266;
}

.input-item {
  margin: 0;
  border: 0;
  display: inline-flex;
  padding: 0;
  position: relative;
  min-width: 0;
  flex-direction: column;
  vertical-align: top;
  /* extract typography into it's own section.. */
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.5;
}

.input-item-label {
  margin: 0px 10px;
  font-size: 1rem;
  padding: 0;
  transform: translate(0, -10px) scale(1);
  transform-origin: top left;
  transition: color 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms,transform 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms;  
}
.input-item-label.error-red {
  color: #EE4266;
}

.input-active {
  transform: none;
  transform-origin: top left;
  transition: color 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms,transform 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms;  
 }

 .input-base {
  height: 0.01em;
  display: flex;
  max-height: 2em;
  align-items: center;
 }

 .input-note {
  justify-self: flex-end;
 }

 #form-error-message {
   margin-left: 22px;
   margin-bottom: 0px;
 }

 span.error-red {
  margin: 20px;
  margin-top: -10px;
}


/* Card Components */

.card-wrapper {
  margin: 1vh;
  /* align-self: center; */
  display: flex;
  position: relative;
  justify-content: baseline;
}

.step5 .card-wrapper,
.step0 .card-wrapper {
  margin: 6vh;
  margin-bottom: 0px;
}

.card-transparent {
  flex: 1;
  padding: 15px 25px;
  min-width: 80%;
  width: 100%;
  padding: 0px;
  margin: 0 auto;
  background-color: transparent;
  transition: margin-top 0.3s ease-in-out;
}

.step5 .card-transparent,
.step0 .card-transparent {
  max-width: 640px;
}

body.step5 .card-transparent {
  margin-top: 10vh;
}

body.step2 .card-transparent {
  margin: 6vh;
  margin-bottom: 0px;
  max-width: 68%;
}


/* Button Components */

.button-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin: 2% 4%;
}

.download-button-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
}

button {
  padding: 4px 23px;
  border-radius: 5px;
  border: 1px solid #00838D;
  background: inherit;
  color: inherit;
  text-decoration: inherit;
  align-content: center;
  cursor: pointer;
  transition: all 0.5s;
}
button:disabled, button[disabled],
a.btn:disabled, a.btn[disabled] {
  cursor: not-allowed;
  pointer-events: none;
  background: rgb(247, 247, 247);
  border-color: rgb(213, 213, 213);
}

.btn {
  cursor: pointer;
  padding: 20px;
  border-radius: 100px;
  text-decoration: none;
  font-size: 16px;
  color: #00838D;
  background-color: #FFFFFF;
  margin: 8px;
  width: 15rem;
  height: 4rem;
}
.btn:disabled, .btn[disabled] {
  background: #94CBCF;
  color: #FFFFFF;
}

.action-button,
.next-btn {
  color: #FFFFFF;
  background-color: #00838D;
}
.next-btn span,
.first-btn span  {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.next-btn span:after,
.first-btn span:after  {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.next-btn:hover span,
.first-btn:hover span {
  padding-right: 25px;
}
.next-btn:hover span:after,
.first-btn:hover span:after {
  opacity: 1;
  right: 0;
}

.previous-btn span  {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.previous-btn span:after  {
  content: '\00ab';
  position: absolute;
  opacity: 0;
  top: 0;
  left: -20px;
  transition: 0.5s;
}
.previous-btn:hover span {
  padding-left: 25px;
}
.previous-btn:hover span:after {
  opacity: 1;
  left: 0;
}

#download-button {
  width: 324px;
  height: 30px;
  line-height: 28px;
}

/* Link Elements */

.help-link {
  margin-top: 33vh;
  width: 22vw;
  border-width: .2rem;
  text-decoration-line: underline;
  color: #00838D;
  font-weight: bold;
  font-size: calc(0.21rem + 1vw);
}


/*Progress Bar Component*/

.progressbar {
  display: flex;
  margin-left: -50px;
  padding: 0px;
  overflow: hidden;
  counter-reset: step;
}

.progressbar li {
  margin: 50px;
  list-style-type: none;
  color: #00838D;
  text-transform: uppercase;
  font-size: 15px;
  position: relative;
  letter-spacing: 1px;
}

.progressbar li:before {
  content: counter(step);
  align-content: center;
  justify-content: center;
  counter-increment: step;
  width: 4em;
  height: 4em;
  line-height: 50px;
  display: block;
  border-radius: 25px;
  margin: 0 auto 10px auto;
  font-size: 13px;
  text-align: center;
  letter-spacing: -0.4px;
  background: #FAFBFC;
  box-shadow: 0px 2.5px 10px rgba(44, 64, 90, 0.15);
}

/*progressbar connectors*/
.progressbar li:after {
  content: '';
  width: 150px;
  height: 2px;
  background: #00838D;
  position: absolute;
  left: -200%;
  top: 20px;
  z-index: -1; /*put it behind the numbers*/
  font-size: 50px;
  opacity: 0.4;
  box-shadow: 0px 2.5px 10px rgba(44, 64, 90, 0.15);
}

.progressbar li:first-child:after {
  /*connector not needed before the first step*/
  content: none;
}

/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
.progressbar li.active:before, #progressbar li.active:after {
  background: #00838D;
  color: white;
}


/* Modal Components */

#fixed-overlay-error {
  display: none;
  position: fixed;
  top: 3em;
  bottom: 3em;
  left: 3em;
  right: 3em;
  background: #fff;
  border-radius: 2em;
  border: 1px #ddd solid;
  overflow: hidden;
}

#fixed-overlay-tos {
  display: none;
  position: fixed;
  top: calc(30% - 6em);
  left: calc(35% + 6em);
  width: 60%;
  max-width: 800px;
  height: 40%;
  max-height: 505px;
  background: #fff;
  border-radius: 4px;
  border: 1px #ddd solid;
  overflow: hidden;
  z-index: 1010;
}

#modal-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(44, 64, 90, 0.46);
  z-index: 1000;
}

.modal-content {
  margin: 3em;
  padding: 0 1em;
  overflow: auto; 
  height: calc(100% - 6em);
}

.close {
  position: absolute;
  right: 0em;
  top: 1em;
  width: 41px;
  height: 11px;
  opacity: 0.3;
  }
.close:hover {
  opacity: 1;
}
.close:before, .close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 22px;
  width: 2px;
  background-color: #333;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}

