/* Imports */

@font-face {
  font-family: "Roboto";
  src: local("Roboto"),
    url(./assets/fonts/Roboto-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "MPLUS1p";
  src: local("MPLUS1p"),
    url(./assets/fonts/MPLUS1p-Regular.ttf) format("truetype");
}

/* Globals */

html {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 14px;
  line-height: 19px;
  color: #24292e;
}

body {
  box-sizing: border-box;
  margin: 0;
  background-color: #f5f5f5;
}

body.loading {
  display: none;
}

body.step0 .step-display:not(.step0),
body.step-exit-single .step-display:not(.step-exit-single),
body.step-exit-multiple .step-display:not(.step-exit-multiple),
body.step1a .step-display:not(.step1a),
body.step1 .step-display:not(.step1),
body.step2 .step-display:not(.step2),
body.step3 .step-display:not(.step3),
body.step4 .step-display:not(.step4),
body.step5 .step-display:not(.step5),
body.step6 .step-display:not(.step6),
body.step7 .step-display:not(.step7) {
  display: none;
}

body.step0 .step-opacity:not(.step0),
body.step-exit-single .step-opacity:not(.step-exit-single),
body.step-exit-multiple .step-opacity:not(.step-exit-multiple),
body.step1a .step-opacity:not(.step1a),
body.step1 .step-opacity:not(.step1),
body.step2 .step-opacity:not(.step2),
body.step3 .step-opacity:not(.step3),
body.step4 .step-opacity:not(.step4),
body.step5 .step-opacity:not(.step5),
body.step6 .step-opacity:not(.step6),
body.step7 .step-opacity:not(.step7) {
  opacity: 0;
  z-index: -1000;
}

.column {
  display: flex;
  flex-direction: column;
}

#container-fluid {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  display: flex;
}

.pageHeader {
  line-height: 40px;
  text-align: center;
}

p.break-text span {
  display: table;
}

.break-text {
  text-align: center;
  z-index: 2;
}

.left-margin {
  margin-left: 10%;
}

.flex {
  flex: 1;
}

.center-align {
  text-align: center !important;
}

.divider {
  font-weight: 700;
  font-size: 16px;
}

/* Colors */

.error-red {
  color: #ee4266;
  mix-blend-mode: normal;
  opacity: 0.8;
}

.clam-grey {
  background: #2c405a;
  mix-blend-mode: normal;
  opacity: 0.4;
  transform: matrix(1, 0, 0, -1, 0, 0);
}

.holo-green {
  color: #00838d;
}

.text-black {
  color: #000000 !important;
}

/* Topography */

h1 {
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
}

ul {
  margin: 0;
}

ul li {
  list-style-type: none;
  min-height: 2.2em;
}

.bold {
  font-weight: bolder;
}

.italic {
  font-style: italic;
}

.underline {
  text-decoration: underline;
}

.inline-contents {
  display: contents;
}

.paragraph-text {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.5;
  max-width: 800px;
  margin: 0 auto;
}

/* Forms & Inputs */

form {
  display: flex;
  justify-content: center;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -ms-flex-pack: center;
  margin: 10px 5px;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
}

#form-error {
  font-size: 14px;
  line-height: 19px;
  opacity: 0.8;
}

#form-error-message {
  margin-bottom: 0px;
}

form > .input-container:not(:first-child) {
  margin-top: 30px;
}

.form-margin {
  margin-top: 45px;
}

.input-container {
  display: flex;
  flex-direction: column;
}

.input {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: #000000;
  border: 0px;
  outline: 0px;
  border-bottom: 1px solid rgba(44, 64, 90, 0.4);
}

.input.error-red {
  border-bottom: 1px solid #ee4266;
}

.input-label {
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 13px;
  letter-spacing: 0.9px;
  text-transform: uppercase;

  mix-blend-mode: normal;
  opacity: 0.6;

  margin-bottom: 10px;
}



/* Image & Icon Elements */
.holo-banner {
  width: 140px;
}

#holo-brand-wrapper {
  position: relative;
}

#holo-brand {
	width: 54px;
	position: absolute;
	top: calc(50% - 27px);
	left: -27px;
	border-radius: 100px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#holoport-flying {
  position: fixed;
  opacity: 0.6;
  bottom: calc(0.8rem - 9vw);
  right: -8vw;
  width: 40%;
  z-index: 1;
}

#rocket-icon {
  width: 42px;
}

.image-block-icon {
  height: 50px !important;
  width: 55px !important;
  margin: 0px 30px;
}

.card-image {
  padding: 30px;
  background: #ffffff;
  box-shadow: 0px 2.5px 10px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.display-image-holoport {
  height: 10vw;
  min-height: 8rem;
  width: 20vw;
  min-width: 16rem;
}

.usb-drive-laptop {
  height: 15vw;
  min-height: 8rem;
  width: 20vw;
  min-width: 16rem;
}

.display-image-connected {
  height: 14vw;
  min-height: 10rem;
  width: 30vw;
  min-width: 20rem;
}

.inline-icon-wrapper {
  display: inline-flex;
}

.inline-icon {
  margin: 0px 24px 0px -4px !important;
  cursor: pointer;
  height: 23px !important;
  width: 23px !important;
}

/* Page Content Containers & Wrappers */

#greeting-container {
  width: 450px;
  background: #00838d;
  color: #ffffff;
  padding: 50px 91px 40px 72px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

body.step0 #greeting-container,
body.step-exit-single #greeting-container,
body.step-exit-multiple #greeting-container {
  background: #ffffff;
  color: #2c405a;
}

#content-container {
  overflow-y: scroll;
  flex: 1;
  width: auto;
  background: #ffffff;
  color: #2c405a;
  display: flex;
  flex-direction: column;
  padding: 70px 72px 83px 94px;
  box-sizing: border-box;
}

body.step0 #content-container,
body.step-exit-single #content-container,
body.step-exit-multiple #content-container {
  background: #00838d;
  color: #ffffff;
}

#content-container > * {
  /* must be higher than holoport flying so that things can be clicked on */
  z-index: 2;
}

.bookend-container {
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

body.step0 .bookend-container {
  padding-top: 76px;
}

body.step-exit-single .bookend-container,
body.step-exit-multiple .bookend-container {
  height: 250px;
  justify-content: space-between;
  padding-top: 100px;
}

/* Headings, Titles & Labels */

.greeting {
  margin-top: 36vh;
  font-weight: 600;
  font-size: 36px;
  line-height: 40px;
}

.table-padding {
  padding: 30px;
}

.context-header {
  font-weight: 700;
}

.context {
  margin-top: 80px;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
}

.greeting-modal-title {
  color: #ffffff;
  line-height: 1.2em;
  font-weight: bold;
  font-size: calc(1.9rem + 0.9vw);
}

.header {
  margin: 0 auto;
  margin-top: 5rem;
  margin-bottom: 0.5rem;
  font-weight: 300;
  font-size: 2rem;
  line-height: 1.2;
  color: #3aa794;
}

.bookend-header {
  margin: 0px;
}

body.step0 .bookend-header {
  margin-bottom: 32px;
}

.step-title {
  font-weight: 800;
  font-size: 18px;
  line-height: 25px;
  color: #000000;
}

.step-number {
  color: #00838D;
}

.step-description,
.step-footnote {
  font-size: 18px;
  line-height: 25px;
  color: #000000;
  max-width: 580px;
}

.intro-header {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  /* identical to box height */

  color: #000000;
}

.intro-content {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;

  color: #000000;
}

.intro-content a {
  color: #000000 !important;
}

.farewell-text {
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  /* make text wrap to be same width as header */
  max-width: 420px;
}

/* Notes on first page */

.notes {
  max-width: 480px;
  font-size: 18px;
  line-height: 25px;
  justify-content: start;
  display: flex;
  flex-direction: column;
  padding: 0px;
}

.note {
  display: flex;
  justify-content: left;
  list-style-type: none;
  margin-bottom: 18px;
  align-items: center;
}

.note-icon {
  width: 24px;
  margin-right: 34px;
}

/* List & Image Block Components */

.image-block {
  display: inline-block;
  margin: 5px;
  padding: 0;
  max-width: 90%;
}

.image-block {
  min-width: 238px;
  margin: 2%;
  margin-left: 16%;
}

body.step3 .image-block {
  margin: 0;
  margin-left: 0;
}

body.step5 body.step6 .image-block {
  margin: 2%;
}

.image-block-item {
  display: flex;
  justify-content: left;
  list-style-type: none;
  font-size: 1.2rem !important;
  font-weight: 400 !important;
  line-height: 2.5 !important;
  margin-bottom: 5%;
}

body.step3 .image-block-item {
  margin: 5% 0;
}

body.step2 .image-block-item,
body.step3 .image-block-item,
body.step4 .image-block-item {
  margin: 5% 0;
  margin-top: 14%;
}

body.step5 .image-block-item,
body.step6 .image-block-item {
  margin-bottom: 1rem;
}
.table-icons {
  flex-grow: 0;
  flex-shrink: 0;
  display: inline-block !important;
  margin: 10px 30px 0px 0px;
  width: 18px;
  height: 32px;
}
.table-icons {
  width: 66px;
  height: 65px;
}

.image-block-icon {
  flex-grow: 0;
  flex-shrink: 0;
  display: inline-block !important;
  margin: 10px 30px 0px 0px;
  width: 18px;
  height: 32px;
}

/* Button Components */

.buttons {
  display: flex;
  width: 320px;
  justify-content: space-between;
  align-items: self-end;
}

.modal-body div.vert-buttons {
  display: flex;
  flex-direction: column;
  width: 320px;
  height: 105px;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
  margin-bottom: 0px;
}

.lower-right {
  margin-top: auto;
  margin-left: auto;
}

.download-button-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.button-text {
  vertical-align: text-bottom;
  cursor: pointer;
  letter-spacing: 1px;
}

.button-font {
  font-size: 16px;
  line-height: 4px;
  text-align: center;
}

button {
  padding: 4px 23px;
  border-radius: 5px;
  border: 1px solid #00838d;
  background: inherit;
  color: inherit;
  text-decoration: inherit;
  align-content: center;
  cursor: pointer;
  font-weight: 500;
}

.btn.disabled,
.btn:disabled {
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.3;
}

.btn {
  cursor: pointer;
  border-radius: 100px;
  text-decoration: none;
  font-size: 16px;
  color: #00838d;
  background-color: #ffffff;
  width: 151px;
  height: 42px;
  box-sizing: border-box;
}

.modal-button {
  color: #313C59;
  cursor: pointer;
  text-decoration: underline;
  font-size: 16px;
  background-color: #ffffff;
  width: 151px;
  height: 42px;
  box-sizing: border-box;  
}

.action-button,
.next-button,
.cancel-button {
  color: #ffffff;
  background-color: #00838d;
}

body.step0 .next-button {
  color: #00838d;
  background-color: #ffffff;
}

#gen-seed-button,
#download-button {
  display: flex;
  align-items: center;
  width: max-content;
  box-sizing: content-box;
  justify-items: center;
  padding: 0 20px;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
}

.next-button span,
.cancel-button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.next-button span:after,
.cancel-button span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.next-button:hover span,
.cancel-button:hover span {
  padding-right: 25px;
}
.next-button:hover span:after,
.cancel-button:hover span:after {
  opacity: 1;
  right: 0;
}

.cancel-button span:after {
  content: "X";
}

.confirm-button {
  color: white;
  border-color: #5C4DA6;
  background-color: #5C4DA6;
}

.previous-button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.previous-button span:after {
  content: "\00ab";
  position: absolute;
  opacity: 0;
  top: 0;
  left: -20px;
  transition: 0.5s;
}
.previous-button:hover span {
  padding-left: 25px;
}
.previous-button:hover span:after {
  opacity: 1;
  left: 0;
}

#download-file {
  font-weight: bold;
}

/* Link Elements */

.help-link {
  position: absolute;
  top: 92vh;
  width: 26vw;
  border-width: 0.2rem;
  flex-flow: row !important;
}

.help-link a {
  text-decoration-line: none;
  font-weight: bold;
  font-size: 16px;
}

body.step0 .help-link,
body.step-exit-single .help-link
body.step-exit-multiple .help-link {
  color: #333333;
}

a {
  font-weight: 700;
  color: inherit;
}

.help-button {
  display: inline-flex;
  vertical-align: middle;
}

.help-button img {
  width: 14px;
}

/*Progress Bar Component*/

.progressbar {
  display: flex;
  margin-left: -3vw;
  padding: 0px;
  overflow: hidden;
  counter-reset: step;
}

.progressbar li {
  margin: 2.37vw;
  margin-bottom: 1vw;
  list-style-type: none;
  color: #00838d;
  text-transform: uppercase;
  font-size: 15px;
  position: relative;
  letter-spacing: 1px;
}

.progressbar li:before {
  content: counter(step);
  align-content: center;
  justify-content: center;
  counter-increment: step;
  width: 4em;
  line-height: 50px;
  display: block;
  border-radius: 25px;
  margin: 0 auto 10px auto;
  font-weight: bold;
  font-size: 13px;
  text-align: center;
  letter-spacing: -0.4px;
  background: #fafbfc;
  box-shadow: 0px 2.5px 10px rgba(44, 64, 90, 0.15);
}

/*progressbar connectors*/
.progressbar li:after {
  content: "";
  width: 7vw;
  height: 2px;
  background: #00838d;
  position: absolute;
  left: -6vw;
  top: 24px;
  z-index: -1;
  font-size: 50px;
  opacity: 0.4;
  box-shadow: 0px 2.5px 10px rgba(44, 64, 90, 0.15);
}

.progressbar li:first-child:after {
  /*The connector bar isn't needed prior to the first step*/
  content: none;
}

/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
.progressbar li.active:before,
#progressbar li.active:after {
  background: #00838d;
  color: white;
}

/* Modal Components */

#fixed-overlay-loader {
  display: none;
  position: fixed;
  top: calc(35% - 6em);
  left: 30%;
  width: 50%;
  max-width: 900px;
  min-width: 300px;
  height: 60%;
  max-height: 505px;
  background: transparent;
  overflow: hidden;
  z-index: 1010;
}



#modal-overlay-loader {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(44, 64, 90, 0.8);
  z-index: 1000;
}

.close {
  position: absolute;
  right: 0em;
  top: 1em;
  width: 41px;
  height: 11px;
  opacity: 0.3;
}
.close:hover {
  opacity: 1;
}
.close:before,
.close:after {
  position: absolute;
  left: 15px;
  content: " ";
  height: 22px;
  width: 2px;
  background-color: #333;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}

.modal-wrapper {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 101;

  width: 100vw;
  height: 100vh;
  display: flex;
}

#modal-passphrase-intro, #change-seed-modal {
  display: none;
}

.modal-body {
  margin: auto;
  width: 490px;
  box-sizing: border-box;

  color: #000000;

  background-color: white;
  border-radius: 5px;
  padding: 35px 50px 40px 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.modal-body div {
  margin-bottom: 30px;
}

.modal-title {
  font-weight: 600;
  font-size: 22px;
  line-height: 30px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(44, 64, 90, 0.7);
  z-index: 100;
}

/* Loader Component (Blinking Squares) */

.loader-grid {
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
}

.lds-grid {
  display: inline-block;
  position: relative;
  width: 150px;
  height: 150px;
}
.lds-grid div {
  position: absolute;
  width: 30%;
  height: 30%;
  border-radius: 50%;
  background: #ffffff;
  animation: lds-grid 1.2s linear infinite;
}
.lds-grid div:nth-child(1) {
  top: 0%;
  left: 0%;
  animation-delay: 0s;
}
.lds-grid div:nth-child(2) {
  top: 0%;
  left: 35%;
  animation-delay: -0.4s;
}
.lds-grid div:nth-child(3) {
  top: 0%;
  left: 70%;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(4) {
  top: 35%;
  left: 0%;
  animation-delay: -0.4s;
}
.lds-grid div:nth-child(5) {
  top: 35%;
  left: 35%;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(6) {
  top: 35%;
  left: 70%;
  animation-delay: -1.2s;
}
.lds-grid div:nth-child(7) {
  top: 70%;
  left: 0%;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(8) {
  top: 70%;
  left: 35%;
  animation-delay: -1.2s;
}
.lds-grid div:nth-child(9) {
  top: 70%;
  left: 70%;
  animation-delay: -1.6s;
}
@keyframes lds-grid {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
}

/* Loader Component (Moving Dots) */

#next-button-loader-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loader-dots {
  display: inline-block;
  position: relative;
  width: 61px;
  height: 13px;
}

#next-button-loader-column .loader-dots {
  margin-bottom: 10px;
}

#next-button-loader-column:not(.loading) .loader-dots {
  display: none;
}

.loader-dots .loader-dot {
  position: absolute;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #313C59;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.loader-dots .loader-dot:nth-child(1) {
  animation: grow 0.6s infinite;
}
.loader-dots .loader-dot:nth-child(2) {
  animation: shift 0.6s infinite;
}
.loader-dots .loader-dot:nth-child(3) {
  left: 24px;
  animation: shift 0.6s infinite;
}
.loader-dots .loader-dot:nth-child(4) {
  left: 48px;
  animation: shrink 0.6s infinite;
}
@keyframes grow {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes shrink {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes shift {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
