/* Imports */

@font-face {
  font-family: 'Circular';
  src: local('Circular'),
    url(./assets/fonts/lineto-circular-book.ttf) format('truetype');
}

/* Globals */

html {
  font-family: 'Circular', 'Segoe UI', Helvetica, Arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji';
  font-size: 14px;
  line-height: 1.5;
  color: #24292e;
}

body {
  box-sizing: border-box;
  margin: 0;
  background-color: #f5f5f5;
}

body.loading {
  background-color: #f5f5f5;
  display: none;
}

.stepHeader,
.stepLabel,
.stepBox,
.stepButton {
  display: none;
}

body.step-monitor .step0,
body.step0b .step0b,
body.step1 .step1,
body.step2 .step2,
body.step3 .step3,
body.step4 .step4,
body.step5 .step5 {
  display: flex;
  flex-flow: column;
  text-align: left;
}

#container-fluid {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  display: flex;
}

.pageHeader {
  line-height: 40px;
  text-align: center;
}

p.break-text span {
  display: table;
}

.break-text {
  text-align: center;
  z-index: 2;
}

.left-margin {
  margin-left: 10%;
}

.flex {
  flex: 1;
}

.center-align {
  text-align: center !important;
}


.divider {
  margin: 0 0.5rem;
}

/* Colors */

.error-red {
  color: #ee4266;
  mix-blend-mode: normal;
  opacity: 0.8;
}

.clam-grey {
  background: #2c405a;
  mix-blend-mode: normal;
  opacity: 0.4;
  transform: matrix(1, 0, 0, -1, 0, 0);
}

.holo-green {
  color: #00838d;
}

.text-white {
  color: #ffffff !important;
}

.text-black {
  color: #000000 !important;
}

/* Topography */

h1 {
  font-size: 30px;
  line-height: 35px;
  letter-spacing: 0.1rem;
}

h2 {
  letter-spacing: initial;
}

ul {
  margin: 0;
}

ul li {
  list-style-type: none;
  min-height: 2.2em;
}

form {
  display: flex;
  justify-content: center;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -ms-flex-pack: center;
  margin: 10px 5px;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
}

#form-error {
  font-size: 14px;
  line-height: 19px;
  opacity: 0.8;
}

label {
  border: none;
  padding-left: 0;
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  line-height: 13px;
  display: flex;
  align-items: flex-end;
  letter-spacing: 0.9px;
  text-transform: uppercase;
  color: #2c405a;
  mix-blend-mode: normal;
  opacity: 0.6;
}

.input-font {
  color: #2c405a;
  font-size: 16px;
  line-height: 22px;
  font-weight: bold;
  display: flex;
  align-items: center;
  letter-spacing: -0.4px;
}

.button-font {
  font-size: 16px;
  line-height: 4px;
  text-align: center;
}

.bold {
  font-weight: bolder;
}

.italic {
  font-style: italic;
}

.underline {
  text-decoration: underline;
}

.inline-contents {
  display: contents;
}

:focus {
  outline-color: transparent;
  outline-style: none;
}

.paragraph-text {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.5;
  max-width: 800px;
  margin: 0 auto;
}

.button-text {
  vertical-align: text-bottom;
  cursor: pointer;
  letter-spacing: 1px;
}

.note-text {
  margin: 15px;
  margin-left: 0px;
  font-size: 14px;
  line-height: 19px;
  color: rgba(44, 64, 90, 0.6);
}

.email-text {
  display: block;
  margin-left: 3%;
  font-size: calc(0.21rem + 1.1vw);
  line-height: calc(0.8rem + 1.9vw);
}

.subheader-text {
  font-size: calc(0.7rem + 0.6vw);
  line-height: calc(0.8rem + 1vw);
  letter-spacing: -0.4px;
  color: #2c405a;
  max-width: 66%;
  margin-top: 5px;
}

body.step3 .subheader-text {
  display: inline-block;
  max-width: 88%;
}

body.step3 .subheader-text.tac {
  margin-top: calc(1rem + 3%);
}

body.step2 .subheader-text,
body.step4 .subheader-text {
  max-width: 80%;
}

.modal-content .subheader-text {
  max-width: none !important;
  margin-top: 3rem;
}

.subheader-text-bookend {
  font-size: calc(0.71rem + 0.5vw);
  line-height: calc(0.7rem + 1.1vw);
  letter-spacing: 0.6px;
}

.block-subtext {
  margin-top: 2vh;
}

.timer-block {
  margin: 5% 0;
}

.enter-text {
  text-align: center;
}

#timer-sub-text {
  display: none;
  text-align: center;
  /* font-size: calc(0.21rem + 2.9vw); */
}

/* Image & Icon Elements */
#holo-banner-wrapper {
  position: absolute;
  width: calc(11.11rem + 5vw);
  margin-top: 2vh;
  margin-left: -2rem;
}

body.step-monitor #holo-banner-wrapper,
body.step0b #holo-banner-wrapper {
  margin-left: calc(-1rem + -2vw);
}

#holo-brand-wrapper {
  width: 4%;
  min-width: 2rem;
  position: fixed;
  top: 40.5vh;
  left: 33.0275vw;
  border-radius: 100px;
  z-index: 99;
}

#holoport-flying-bookend {
  background-repeat: no-repeat;
  position: fixed;
  bottom: calc(0.8rem - 9vw);
  right: -8vw;
  width: 40%;
  height: auto;
  opacity: 0.6;
  z-index: 1;
}

#holoport-flying {
  background-repeat: no-repeat;
  position: fixed;
  bottom: -2rem;
  left: 6rem;
  width: 42vw;
  height: calc(45vw * 0.55);
  opacity: 0.6;
}

.image-block-icon {
  height: 50px !important;
  width: 55px !important;
  margin: 0px 30px;
}

.card-image {
  padding: 30px;
  background: #ffffff;
  box-shadow: 0px 2.5px 10px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.step3 #holo-icon {
  margin-right: none;
}

#world-icon {
  margin-top: -4px;
}

#connected-icon {
  margin: -4px calc(30px + 0.5rem) 0px 0.5rem;
  height: 2.8rem;
  width: 1.8rem;
}

#locked-icon {
  margin: 5px calc(30px + 0.3rem) 0px 0.3rem;
  height: 3rem;
  width: 2.2rem;
}

.display-image-holoport {
  height: 10vw;
  min-height: 8rem;
  width: 20vw;
  min-width: 16rem;
}

.usb-drive-laptop {
  height: 15vw;
  min-height: 8rem;
  width: 20vw;
  min-width: 16rem;
}

.display-image-connected {
  height: 14vw;
  min-height: 10rem;
  width: 30vw;
  min-width: 20rem;
}

.inline-icon-wrapper {
  display: inline-flex;
}

.inline-icon {
  margin: 0px 24px 0px -4px !important;
  cursor: pointer;
  height: 23px !important;
  width: 23px !important;
}

/* Page Content Containers & Wrappers */

#greeting-container-bookend {
  width: 35vw;
  /* z-index must be higher than flying-hp icon */
  z-index: 3;
  background: #ffffff;
}

#greeting-container {
  width: 35vw;
  background: #00838d;
}

#content-container-bookend {
  overflow-y: scroll;
  flex: 1;
  width: 65vw;
  background: #00838d;
}
#content-container {
  overflow-y: scroll;
  flex: 1;
  width: 65vw;
  /* z-index must be higher than flying-hp icon */
  z-index: 3;
  background: #ffffff;
}

.content-wrapper {
  display: block;
  margin: 0 auto;
  margin-left: 12%;
  margin-top: 4%;
  position: relative;
  justify-content: center;
  height: 80vh;
}

.content-wrapper.bookend {
  margin: 0 auto;
  margin-top: 6%;
  width: 80%;
}

.step0b .content-wrapper.bookend {
  margin-top: 10%;
}

/* Headings, Titles & Labels */

.greeting-wrapper-bookend {
  margin-left: -8%;
  max-width: 90%;
  height: 100vh;
  align-self: center;
  z-index: 2;
}

.greeting-wrapper {
  margin-left: -80%;
  max-width: 90%;
  height: 100vh;
  align-self: center;
  z-index: 2;
}

body.step5 .greeting-wrapper {
  margin-left: -20%;
  max-width: 60%;
}

.greeting-step0b,
.greeting-step0 {
  line-height: 1.2em;
  margin: 40vh 0 10vh;
  font-weight: 500;
  font-size: calc(2.2rem + 1vw);
  max-width: 30vw;
}

.greeting {
  line-height: 1.2em;
  margin: 32vh 0 10vh;
  font-weight: 500;
  font-size: calc(1.9rem + 0.9vw);
  max-width: 25vw;
}

.step5 .greeting {
  font-size: calc(2.2rem + 1.1vw);
  font-weight: 600;
}

.greeting-modal-title {
  line-height: 1.2em;
  font-weight: bold;
  font-size: calc(1.9rem + 0.9vw);
}

.header {
  margin: 0 auto;
  margin-top: 5rem;
  margin-bottom: 0.5rem;
  font-weight: 300;
  font-size: 2rem;
  line-height: 1.2;
  color: #3aa794;
}

.step5-header,
.step-monitor-header {
  margin: 0 auto;
  font-weight: 300;
  font-size: 2rem;
  line-height: 1.2;
  margin-top: 1rem;
}

.step-label-info {
  color: #2c405a;
  display: block;
  margin: 1rem 0;
  font-style: normal;
  font-weight: 500;
  font-size: calc(0.95rem + 0.6vw);
  line-height: calc(0.8rem + 1.5vw);
  max-width: 88%;
}

.modal-content .step-label-info {
  font-size: calc(1.95rem + 0.6vw);
}

body.step1 .step-label-info {
  max-width: 85%;
  margin-bottom: 0.5rem;
}

body.step3 .step-label-info {
  max-width: 86%;
}

body.step2 .step-label-info,
body.step4 .step-label-info {
  max-width: 100%;
}

.step-label-info-bookend {
  display: block;
  margin-bottom: 1.5rem;
  font-style: normal;
  font-weight: 500;
  font-size: calc(0.81rem + 1.2vw);
  line-height: calc(1rem + 1.5vw);
}

/* List & Image Block Components */

.list-group,
.image-block {
  display: inline-block;
  margin: 5px;
  padding: 0;
  max-width: 90%;
}

.image-block {
  min-width: 238px;
  margin: 2%;
  margin-left: 16%;
}

body.step3 .image-block {
  margin: 0;
  margin-left: 0;
}

body.step5 .image-block {
  margin: 2%;
}

.list-group-item,
.image-block-item {
  display: flex;
  justify-content: left;
  list-style-type: none;
  font-size: 1.2rem !important;
  font-weight: 400 !important;
  line-height: 2.5 !important;
  color: #ffffff;
  margin-bottom: 5%;
}

body.step3 .image-block-item {
  margin: 5% 0;
}

body.step2 .image-block-item,
body.step4 .image-block-item {
  margin: 5% 0;
  margin-top: 14%;
}

body.step5 .image-block-item {
  margin-bottom: 1rem;
}

.list-icons,
.image-block-icon {
  flex-grow: 0;
  flex-shrink: 0;
  display: inline-block !important;
  margin: 10px 30px 0px 0px;
  width: 18px;
  height: 32px;
}
.list-icons {
  width: 36px;
  height: 35px;
}

.list-content {
  margin: 0px;
}

ul.timer-list {
  padding: 0;
}

li.timer-list-item {
  display: inline-block;
  list-style-type: none;
  text-transform: uppercase;
}

.timer-text {
  display: block;
  font-size: calc(4.21rem + 5.9vw);
  line-height: 1em;
}

/* Form Fields & Inputs */

.step1 label {
  min-width: 17vh;
  display: flex;
}

.step1 input {
  display: flex;
  border: none;
  mix-blend-mode: normal;
  width: calc(-10rem + 36vw);
}

.form-item {
  margin: 6vh 20px 15px 0px;
  border-bottom: 1px solid #2c405a;
  width: 85%;
}

.form-item.error-red {
  border-bottom: 1px solid #ee4266;
}

.input-item {
  margin: 0;
  border: 0;
  display: inline-flex;
  padding: 0;
  position: relative;
  min-width: 0;
  flex-direction: column;
  vertical-align: top;
  /* extract font styles into typography section.. */
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.5;
}

.input-item-label {
  margin: 0px 10px;
  font-size: 0.8rem;
  padding: 0;
  transform: translate(0, -10px) scale(1);
  transform-origin: top left;
  transition: color 200ms cubic-bezier(0, 0, 0.2, 1) 0ms,
    transform 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
}
.input-item-label.error-red {
  color: #ee4266;
}

.input-active {
  transform: none;
  transform-origin: top left;
  transition: color 200ms cubic-bezier(0, 0, 0.2, 1) 0ms,
    transform 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
}

.input-base {
  height: 0.01em;
  display: flex;
  max-height: 2em;
  align-items: center;
}

.input-note {
  justify-self: flex-end;
}

#form-error-message {
  margin-bottom: 0px;
}

span.error-red {
  margin: 5px 0px 0px 0px;
  margin-top: -5px;
}

/* Checkbox Components */

#tac-checkbox {
  display: none;
}

.checkbox-label {
  display: inline;
  position: relative;
  margin: auto;
  cursor: pointer;
  font-size: 22px;
  line-height: 24px;
  clear: both;
}

.checkbox-label .checkbox-custom {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 24px;
  width: 24px;
  background-color: transparent;
  border-radius: 5px;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  border: 2px solid #00838d;
}

.checkbox-label input:checked ~ .checkbox-custom {
  background-color: #00838d;
  border-radius: 5px;
  -webkit-transform: rotate(0deg) scale(1);
  -ms-transform: rotate(0deg) scale(1);
  transform: rotate(0deg) scale(1);
  opacity: 1;
  border: 2px solid #00838d;
}

/* checkmark styles: */
.checkbox-label .checkbox-custom::after {
  position: absolute;
  content: '';
  left: 12px;
  top: 12px;
  height: 0px;
  width: 0px;
  border-radius: 5px;
  border: solid #ffffff;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(0deg) scale(0);
  -ms-transform: rotate(0deg) scale(0);
  transform: rotate(0deg) scale(0);
  opacity: 1;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
}

.checkbox-label input:checked ~ .checkbox-custom::after {
  -webkit-transform: rotate(45deg) scale(1);
  -ms-transform: rotate(45deg) scale(1);
  transform: rotate(45deg) scale(1);
  opacity: 1;
  left: 8px;
  top: 3px;
  width: 6px;
  height: 12px;
  border: solid #ffffff;
  border-width: 0 2px 2px 0;
  background-color: transparent;
  border-radius: 0;
}

/* For Ripple Effect */
.checkbox-label .checkbox-custom::before {
  position: absolute;
  content: '';
  left: 10px;
  top: 10px;
  width: 0px;
  height: 0px;
  border-radius: 5px;
  border: 2px solid #00838d;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
}

.checkbox-label input:checked ~ .checkbox-custom::before {
  left: -3px;
  top: -3px;
  width: 24px;
  height: 24px;
  border-radius: 5px;
  -webkit-transform: scale(3);
  -ms-transform: scale(3);
  transform: scale(3);
  opacity: 0;
  z-index: 999;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
}

/* Card Components */

.card-wrapper {
  margin: 1vh;
  display: flex;
  position: relative;
  justify-content: baseline;
}

.step5 .card-wrapper,
.step-monitor .card-wrapper {
  margin: 4vh;
  margin-bottom: 0px;
}

.card-transparent {
  flex: 1;
  padding: 15px 25px;
  min-width: 80%;
  width: 100%;
  padding: 0px;
  margin: 0 auto;
  background-color: transparent;
  transition: margin-top 0.3s ease-in-out;
}

body.step-monitor .card-transparent {
  max-width: 640px;
}

/* Button Components */

.button-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin: 2% 4%;
}

.modal-content .button-wrapper {
  margin-top: 4rem;
  justify-content: center;
}

.download-button-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.button-wrapper.last-btn {
  margin: 0 4% 4%;
}

button {
  padding: 4px 23px;
  border-radius: 5px;
  border: 1px solid #00838d;
  background: inherit;
  color: inherit;
  text-decoration: inherit;
  align-content: center;
  cursor: pointer;
  transition: all 0.5s;
}

#download-button.disabled,
button:disabled,
button[disabled],
a.btn:disabled,
a.btn[disabled] {
  cursor: not-allowed;
  pointer-events: none;
  background: rgb(247, 247, 247);
  border-color: rgb(213, 213, 213);
}

.btn {
  cursor: pointer;
  padding: 20px;
  border-radius: 100px;
  text-decoration: none;
  font-size: 16px;
  color: #00838d;
  background-color: #ffffff;
  margin: 8px;
  width: 12rem;
  height: 3.5rem;
}

#download-button.disabled,
.btn:disabled,
.btn[disabled] {
  background: #94cbcf;
  color: #ffffff;
}

.action-button,
.next-btn {
  color: #ffffff;
  background-color: #00838d;
}
.next-btn span,
.first-btn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.next-btn span:after,
.first-btn span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.next-btn:hover span,
.first-btn:hover span {
  padding-right: 25px;
}
.next-btn:hover span:after,
.first-btn:hover span:after {
  opacity: 1;
  right: 0;
}

.info-step-next {
  color: #00838d;
  background-color: #ffffff;
  z-index: 2;
}

.modal-content .next-btn span:after {
  content: 'X';
}

.previous-btn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.previous-btn span:after {
  content: '\00ab';
  position: absolute;
  opacity: 0;
  top: 0;
  left: -20px;
  transition: 0.5s;
}
.previous-btn:hover span {
  padding-left: 25px;
}
.previous-btn:hover span:after {
  opacity: 1;
  left: 0;
}

.info-step-previous {
  color: #ffffff;
  background-color: #00838d;
  border: 1px solid #ffffff;
  z-index: 3;
}

#download-button {
  display: block;
  width: 40%;
  max-width: 22rem;
  min-width: 12rem;
  height: 2rem;
  line-height: 2rem;
  font-size: calc(0.7rem + 0.4vw);
  text-align: center;
}

body.step-monitor .stepButton,
body.step5 .stepButton {
  margin-top: 2%;
}

/* Link Elements */

.help-link {
  position: absolute;
  margin-top: 92vh;
  width: 22vw;
  border-width: 0.2rem;
  flex-flow: row !important;
}

body.step-monitor .help-link ,
body.step0b .help-link {
  margin-left: calc(-0.4rem + -0.2vw);
}

body.step3 .help-link {
  display: flex;
}

.link {
  text-decoration-line: none;
  color: #00838d;
  font-weight: bold;
  font-size: calc(0.8rem + 0.3vw);
  letter-spacing: 0.1rem;
}

/*Progress Bar Component*/

.progressbar {
  display: flex;
  margin-left: -3vw;
  padding: 0px;
  overflow: hidden;
  counter-reset: step;
}

.progressbar li {
  margin: 2.37vw;
  margin-bottom: 1vw;
  list-style-type: none;
  color: #00838d;
  text-transform: uppercase;
  font-size: 15px;
  position: relative;
  letter-spacing: 1px;
}

.progressbar li:before {
  content: counter(step);
  align-content: center;
  justify-content: center;
  counter-increment: step;
  width: 4em;
  height: 4em;
  line-height: 50px;
  display: block;
  border-radius: 25px;
  margin: 0 auto 10px auto;
  font-weight: bold;
  font-size: 13px;
  text-align: center;
  letter-spacing: -0.4px;
  background: #fafbfc;
  box-shadow: 0px 2.5px 10px rgba(44, 64, 90, 0.15);
}

/*progressbar connectors*/
.progressbar li:after {
  content: '';
  width: 7vw;
  height: 2px;
  background: #00838d;
  position: absolute;
  left: -6vw;
  top: 20px;
  z-index: -1;
  font-size: 50px;
  opacity: 0.4;
  box-shadow: 0px 2.5px 10px rgba(44, 64, 90, 0.15);
}

.progressbar li:first-child:after {
  /*The connector bar isn't needed prior to the first step*/
  content: none;
}

/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
.progressbar li.active:before,
#progressbar li.active:after {
  background: #00838d;
  color: white;
}

/* Modal Components */

#fixed-overlay-notice,
#fixed-overlay-tos {
  display: none;
  position: fixed;
  top: calc(26% - 6em);
  left: 26%;
  width: 50%;
  max-width: 900px;
  height: 60%;
  max-height: 505px;
  background: #fff;
  border-radius: 4px;
  border: 1px #ddd solid;
  overflow: hidden;
  z-index: 1010;
}

#fixed-overlay-loader {
  display: none;
  position: fixed;
  top: calc(35% - 6em);
  left: 30%;
  width: 50%;
  max-width: 900px;
  height: 60%;
  max-height: 505px;
  background: transparent;
  overflow: hidden;
  z-index: 1010;
}

#modal-overlay-notice,
#modal-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(44, 64, 90, 0.8);
  z-index: 1000;
}

#modal-overlay-loader {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(44, 64, 90, 0.8);
  z-index: 1000;
}

.modal-content {
  margin: 3em;
  padding: 0 1em;
  height: calc(100% - 6em);
  overflow: hidden;
}

.close {
  position: absolute;
  right: 0em;
  top: 1em;
  width: 41px;
  height: 11px;
  opacity: 0.3;
}
.close:hover {
  opacity: 1;
}
.close:before,
.close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 22px;
  width: 2px;
  background-color: #333;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}

/* Loader Component */

.loader-grid {
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
}

.lds-grid {
  display: inline-block;
  position: relative;
  width: 150px;
  height: 150px;
}
.lds-grid div {
  position: absolute;
  width: 30%;
  height: 30%;
  border-radius: 50%;
  background: #ffffff;
  animation: lds-grid 1.2s linear infinite;
}
.lds-grid div:nth-child(1) {
  top: 0%;
  left: 0%;
  animation-delay: 0s;
}
.lds-grid div:nth-child(2) {
  top: 0%;
  left: 35%;
  animation-delay: -0.4s;
}
.lds-grid div:nth-child(3) {
  top: 0%;
  left: 70%;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(4) {
  top: 35%;
  left: 0%;
  animation-delay: -0.4s;
}
.lds-grid div:nth-child(5) {
  top: 35%;
  left: 35%;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(6) {
  top: 35%;
  left: 70%;
  animation-delay: -1.2s;
}
.lds-grid div:nth-child(7) {
  top: 70%;
  left: 0%;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(8) {
  top: 70%;
  left: 35%;
  animation-delay: -1.2s;
}
.lds-grid div:nth-child(9) {
  top: 70%;
  left: 70%;
  animation-delay: -1.6s;
}
@keyframes lds-grid {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
}
